

body {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-image: url('images/pattern.jpeg');
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes h2 {
    background-color: mediumspringgreen;
}

#frames h2 {
    background-color: lightcoral;
}

#paint h2 {
    background-color: skyblue;
}

figure {
    margin-left: 0;
}

figcaption {
    font-weight: bold;
    font-size: 24px;
}

img {
    margin-bottom: 20px;
}

a {
    font-weight: bold;
    color: blue;
    text-decoration: none;
}